<h1 style="padding-top: 32px; padding-bottom: 32px;">Hey {{ name }}, welcome to Recipes!</h1>

<p>Please click the link below to confirm your email:</p>
<p style="padding-top: 16px; padding-bottom: 16px;">
    <a href="http://localhost:3000/auth/confirm/{{token}}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>